#Database properties
DB_HOST=localhost
DB_USERNAME=user
DB_PASSWORD=
DB_DATABASE_NAME=saiitech

#smtp mail configurations
MAIL_SMTP_PROVIDER=smtpout.secureserver.net
MAIL_FROM=contact@aitechkart.com
MAIL_FROM_NAME="AI TechKart Contact Us"
MAIL_TO=contact@aitechkart.com
MAIL_TO_NAME="AI TechKart Contact Us"
MAIL_PASSWORD=
#TCP port connection (587 or 465)
MAIL_SMTP_PORT=587

DOMAIN_URL=https://www.aitechkart.com
EMAIL_TEMPLATE_FOLDER_LOCATION=/app/views/email-templates/